html, body {
  color: black;
  background: white;
  font-family: sans-serif;
}

p {
  text-indent: 1.5em;
  text-align: justify;
}

img {
  position: relative;
  bottom: -webkit-calc(0.35em - 8px);
  bottom:    -moz-calc(0.35em - 8px);
  bottom:         calc(0.35em - 8px);
}

a {
  text-decoration: none;
  color: #37c;
}

a:hover {
  text-decoration: underline;
  color: #59d;
}

ul {
  padding-left: 3.0em;
}

li {
  margin-top: 0.8em;
}

dt {
  color: #049;
  font-size: 120%;
  font-weight: bold;
  margin-left: 2.0em;
  margin-top: 0.8em;
}

li:first-child, dt:first-child {
  margin-top: 0;
}

dd {
  margin-left: 4.0em;
}

#contents p {
  font-size: 120%;
  font-weight: bold;
  text-indent: 0;
}

#contents li {
  margin-top: 0;
}

h1.title {
  text-align: center;
  background: #ddd;
  margin-top: 0;
  padding: 0.2em;
  border-top: 0.1em solid #aaa;
  border-bottom: 0.1em solid #aaa;
  text-shadow: 0 0.04em 0.15em #777;
}

h1, h1 a, h1 a:hover {
  text-decoration: none;
  color: #036;
/*   text-shadow: 0 0.06em 0.18em #89b; */
}

h2, h2 a, h2 a:hover {
  margin-left: 0.5em;
  text-decoration: none;
  color: #049;
/*   text-shadow: 0 0.1em 0.25em #89b; */
}

.action {
  background: #f4f4f4;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border: 1px solid #eee;
  border-radius: 0.4em;
}

.notice {
  position: relative;
  margin-left: 4em;
  margin-right: 4em;
  padding: 0.3em 0.5em 0.3em 1.5em;
  background: #eee;
  border: 1px solid #ccc;
  text-align: justify;
}

.notice:before {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.8em;
  background: #37c;
  border-right: 1px solid #ccc;
}
