#Travis CI configuration for MAP-Tk
# See http://travis-ci.org/Kitware/maptk/

sudo: false

language: cpp
compiler:
  - gcc
  - clang

cache:
  directories:
  - $HOME/deps

before_script:
  - bash .travis/install-deps.sh

addons:
  apt:
    sources:
    - boost-latest
    packages:
    - libproj-dev
    - libboost1.55-all-dev
    - libgl1-mesa-dev
    - libxt-dev
    - libqt4-dev

script:
  - export PATH=$HOME/deps/bin:$PATH
  - mkdir build
  - cd build
  - cmake -DMAPTK_ENABLE_PROJ:BOOL=ON
          -DMAPTK_ENABLE_OPENCV:BOOL=ON
          -DMAPTK_ENABLE_VXL:BOOL=OFF
          -DMAPTK_ENABLE_CERES:BOOL=ON
          -DMAPTK_ENABLE_GUI:BOOL=ON
          -DMAPTK_ENABLE_TESTING:BOOL=ON
          -DEIGEN_INCLUDE_DIR:PATH=$HOME/deps/include/eigen3
          ../
  - make -j2
  - ctest
